<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        text-align: center;
    }
</style>
<body>
    <h1>Home Assistant: {{title|upper}}</h1>
    <h2>Configuration.yaml</h2>
    <hr>
    <p>While you can configure most of Home Assistant directly from the user interface under Settings, some parts need you to edit configuration.yaml. This file contains integrations
        to be loaded along with their configurations. Throughout the documentation you will find snippets that you can add to your configuration file to enable specific functionality.
       <br> <br>
       If you run into trouble while configuring Home Assistant, refer to the configuration troubleshooting page and the configuration.yaml examples.</p>

       <h3>Editing configuration.yaml</h3>
       <p>The easiest option to edit configuration.yaml is to use the Studio Code Server add-on. This add-on runs VS Code, which offers live syntax checking and auto-fill of various Home Assistant entities. See here for details. If unavailable on your system, use File Editor add-on instead. Again, details can be found here.</p>
</body>
</html>